<div class="container">
  <div class="row">
    <div class="total-box col-md-3">
      <div class="value">
        <%= Money.new(@today, "USD").format(:no_cents =>true) %>
      </div>
      <span>TODAY</span>
    </div>
    <div class="total-box col-md-3">
      <div class="value">
        <%= Money.new(@yesterday*100, "USD").format(:no_cents =>true ) %>
      </div>
      <span>YESTERDAY</span>
    </div>
    <div class="total-box col-md-3">
      <div class="value">
        <%= Money.new(@this_month*100, "USD").format(:no_cents =>true) %>
      </div>
      <span>THIS MONTH</span>
    </div>
    <div class="total-box col-md-3">
      <div class="value">
        <%= Money.new(@last_month*100, "USD").format(:no_cents =>true ) %>
      </div>
      <span>LAST MONTH</span>
    </div>
  </div>


  <div class="row" style="margin-top: 40px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Last 6 months</div>
        <div class="panel-body">
          <div id="last-six-month-expenses-chart" style="height: 250px;"></div>


        </div>
      </div>
    </div>
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">By Day</div>
        <div class="panel-body">
          <div id="daily-expenses-chart" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">By Category</div>
        <div class="panel-body">
          <div id="category-chart" style="height: 250px;"></div>
        </div>
      </div>
    </div>
    <div class=" box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Accumulated</div>
        <div class="panel-body">
          <div id="month-acc" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
