<div class="row" style="margin-top: 10px;">
  <div class="summary-box col-md-4 text-center">
    <div class="summary-value"><%=@expenses.sum(:amount)%></div>
    <div class="summary-label">Total</div>
  </diV>
  <div class="summary-box col-md-4 text-center">
    <div class="summary-value"><%=@expenses.count %></div>
    <div class="summary-label">Transactions</div>
  </div>
  <div class="summary-box col-md-4 text-center">
    <div class="summary-value"><%=@expenses.average(:amount)%></div>
    <div class="summary-label">Average</div>
  </div>
</div>
