<% if @expense.errors.empty? %>
  $('table tbody').html(' <%= j render "filteredexpenses", expense: @expense %>');
  $('#index-values').html("<%= j render 'indexdatafiltered' %>");
  $('#expense-modal').modal('hide');
  $('#notice').html('<button type="button" class="close" data-dismiss="alert"  aria-label="Close"><span aria-hidden="true">&times;</span></button><p class="notice">Expense was successfully edited.</p>').show();
<% else %>
  $('div.modal-body').append('<%= @expense.errors.full_messages %>')
<% end %>
